.statistics {
  margin: auto;
  margin-bottom: 25px;
  width: 400px;
  border: 2px solid rgba(95, 158, 160, 0.356);
  border-radius: 4px;
}

.title {
  padding: 30px 0;
  text-transform: uppercase;
  background-color: rgba(95, 158, 160, 0.356);
}

.statList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  padding: 10px;
  /* border: 2px solid rgb(69, 69, 100); */
  background-color: rgba(228, 161, 74, 0.356);
}

.item:nth-child(2n) {
  background-color: rgba(197, 95, 95, 0.356);
}

.percentage {
  display: block;
  margin-top: 5px;
  font-size: 22px;
}
