.statistics {
  margin: auto;
  width: 350px;
  border: 2px solid red;
}

.title {
  text-transform: uppercase;
}

.statList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.percentage {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}
